<!DOCTYPE html>
<html>
  <head>
    <title>Computer Graphics</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <style>
      html, body {
        height: 100%;
      }
      body {
  background: #eee;
  display: flex;
  align-items: center;
}

.container {
  max-width: 600px;
  padding: 2em;
}

    </style>
  </head>
  <body>
    <div class="card container">
      <h1 class="text-center">SubDom</h1>

      <div class="meta-info">
        <h4>Your subdomain is:</h4>
        <br/>
        <h1 id="subdomain"/>
      </div>

      <div class="form-label-group">
        <label for="subdomain">Subdomain</label>
        <input id="subdomain" class="form-control" type="text" placeholder="i.e. foo.bar" required="" autofocus="" />
      </div>
  
    </div>
  </body>
  <script>

    


    </script>
</html>
