<!DOCTYPE html>
<html>
  <head>
    <title>SubDom</title>
    <link rel="stylesheet" href="/css/style.css" />
    <script type="application/javascript">
      const BASE_URL = "<%= baseUrl %>";
    </script>
    <script type="application/javascript" src="/js/request.js"></script>
  </head>
  <body class="container">
    <div>
      <h1 class="text-center">SubDom</h1>

      <div class="card">
        <div class="meta-info">
          <h4>Your subdomain is:</h4>
          <h4 id="subdomain-preview"><i>None</i></h4>
        </div>

        <div class="divider" role="separator"></div>

        <form>
          <div class="form-row">
            <div class="form-col form-label">
              <label for="subdomain">Subdomain</label>
            </div>
            <div class="form-col">
              <input
                id="subdomain"
                type="text"
                placeholder="i.e. foo.bar"
                autocomplete="off"
                required=""
                autofocus=""
                value=""
              />
            </div>
          </div>

          <div class="form-row">
            <div class="form-col">
              <button
                type="button"
                id="subdomain-submit"
                class="btn btn-primary"
                disabled=""
              >
                <span>Next</span>
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <script type="application/javascript" src="/js/form.js"></script>
  </body>
</html>
